@use '../partials/mixins' as *;
@use '../partials/fonts' as *;
@use '../partials/resets' as *;
@use '../partials/variables' as *;

.videoList{
  @include list-reset;
  width: 100%;
  display: flex;
  flex-direction: column;
}