@use '../../partials/fonts.scss' as *;
@use '../../partials/variables.scss' as *;
@use '../../partials/mixins.scss' as *;
@use '../../partials/resets.scss' as *;

.searchbar{
  @include flex-center;
  width: 100%;
  padding: 1rem;
  margin: .5rem 0;
  border: 1.5px solid $color-mercury;
  background-color: $color-alabaster;
  border-radius: 5px;
  @include large-phone {
    margin-left: 1rem;
  }
  @include tablet {
    width: 252px;
    height: 46px;
    margin-left: 8.5rem;
    margin-right: 1.5rem;
    padding: 1rem;
    margin-top: 0;
  }
  @include desktop {
    margin-left: 35rem;
  }
}