@use '../../partials/fonts.scss' as *;
@use '../../partials/variables.scss' as *;
@use '../../partials/mixins.scss' as *;
@use '../../partials/resets.scss' as *;


.video {
  &__container{
    width: 100%;
    @include tablet {
      display: flex;
      background-color: $color-black;
      height: 400px;
    }
  }
  &__image{
    width: 100%;
    max-height: 183px;
    //max-height: 183px?
    @include tablet {
      margin: 0 auto;
      width: 700px;
      max-height: 400px;
      background-color: $color-black;
    }
  }
}