@use '../../partials/fonts.scss' as *;
@use '../../partials/variables.scss' as *;
@use '../../partials/mixins.scss' as *;
@use '../../partials/resets.scss' as *;


.nav {
  width: 100%;
  display: flex;
  &__container {
    width: 100%;
    padding: 1rem;
    flex-direction: column;
    height: 169px;
    @include tablet {
      @include margin-auto;
      display: flex;
      flex-direction: row;
      height: 80px;
      max-width: 730px;
    }
    @include desktop {
      @include margin-auto;
      max-width: 1200px;
    }
  }
  &__logo {
    @include margin-auto;
    @include flex-center;
    width: 45%;
    @include tablet {
      width: 17%;
    }
    @include desktop {
      width: 13%;
      margin-left: 0;
    }
  }
  &__bottom {
    display: flex;
    @include tablet {
      width: 25%;
    }
  }
  &__image {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin-left: .5rem;
    object-fit: cover;
    //background-position: 80% 0%;
  }
}