@use '../../partials/fonts.scss' as *;
@use '../../partials/variables.scss' as *;
@use '../../partials/mixins.scss' as *;
@use '../../partials/resets.scss' as *;


.nav {
  width: 100%;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  height: 169px;
  &__logo {
    width: 45%;
    margin: 0 auto;
  }
  &__searchbar{
    @include flex-center;
    padding: 1rem;
    margin: .5rem 0;
    border: 1.5px solid $color-mercury;
    background-color: $color-alabaster;
    border-radius: 5px;
  }
  &__bottom {
    display: flex;
  }
  &__button {
    @include font-demi;
    background-color: $color-lightblue-brainflix;
    border: none;
    color: $color-white;
    width: 75%;
    border-radius: 5px;
  }
  &__image {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin-left: .5rem;
  }
}