@use './partials/fonts.scss' as *;
@use './partials/variables.scss' as *;
@use './partials/mixins.scss' as *;
@use './partials/resets.scss' as *;

.videoList {
  &__container {
    padding: .75rem 1rem;
  }
  &__title{
    @include font-demi;
    color: $color-silver;
    padding: 2rem 0;
  }
}