//breakpoints
$breakpoint-large-phone: 450px;
$breakpoint-tablet: 767px;
$breakpoint-desktop: 1280px;

// colours 
$color-white: #FFFFFF;
$color-alabaster: #FAFAFA;
$color-mercury: #E1E1E1;
$color-silver: #AFAFAF;
$color-lightblue-brainflix: #0095FF;
$color-darkblue-brainflix: #0065AD;
$color-black: #323232;
$color-dark-black: #000;
