@use '../../partials/fonts.scss' as *;
@use '../../partials/variables.scss' as *;
@use '../../partials/mixins.scss' as *;
@use '../../partials/resets.scss' as *;

.videoItem{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: .75rem 0;
  &__image{
    min-width: 120px;
    max-height: 70px;
    border-radius: 5px;
  }
  &__headings {
    padding: 0rem 1rem;
  }
  &__title {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__channel {
    margin-top: .5rem;
    font-size: .825rem;
  }
}