@use '../../partials/fonts.scss' as *;
@use '../../partials/variables.scss' as *;
@use '../../partials/mixins.scss' as *;
@use '../../partials/resets.scss' as *;

.notFound{
  @include flex-center;
  flex-direction: column;
  width: 100%;
  &__image {
    @include margin-auto;
    padding: 1rem;
    max-width: 265px;
    @include large-phone {
      max-width: auto;
    }
  }
  &__title {
    padding: .5rem;
  }
}